name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    paths:
      - images/**

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  CI:
    uses: ./.github/workflows/rw-composite-ci.yaml
    with:
      src_path: 'images'
    secrets:
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}