---
name: CICD

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    paths:
      - src/**

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  CICD:
    uses: ./.github/workflows/composite/rw-composite-helm.yaml
    with:
      src_path: 'src'
    secrets:
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
