---
name: COMPOSITE_BUILDX

on:
  workflow_call:
    inputs:
      src_path:
        type: string
        description: Path to the source code
        default: ${{ github.event.repository.name }}
        required: false
    outputs:
      modules_changed:
        description: List of modules changed from given source path by last commit. 
        value: ${{ jobs.B_INIT.outputs.modules_changed }}
      tag:
        description: List of modules changed from given source path by last commit. 
        value: ${{ jobs.B_BUILDX.outputs.tag }}
    secrets:
      DOCKER_PASSWORD:
        required: true

jobs:
  B_INIT:
    uses: ./.github/workflows/rw-base-init.yaml
    with:
      src_path: ${{ inputs.src_path }}

  B_BUILDX:
    needs: B_INIT
    uses: ./.github/workflows/rw-base-buildx.yaml
    with:
      modules_changed: ${{ needs.INIT.outputs.modules_changed }}
    secrets:
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}