name: INIT

on:
  workflow_call:
    inputs:
      src_path:
        type: string
        description: Source code path
        required: false
    outputs:
      modules_changed:
        description: List of modules changed from given source path by last commit
        value: ${{ jobs.INIT.outputs.modules_changed }}

jobs:
  INIT:
    runs-on: ubuntu-slim
    outputs:
      modules_changed:  ${{ steps.paths_modified.outputs.get_modules_changed }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: Get Modules Changed
      id: get_modules_changed
      run: |
        set +x
        modules_changed=$(git diff HEAD HEAD~ --name-only \
          | grep '/' \
          | cut -d'/' -f1-2 \
          | grep -E "${{ inputs.src_path }}" \
          | sort -u \
          | jq -R . | jq -s .)
        echo $modules_changed

        echo "modules_changed<<EOF" >> $GITHUB_OUTPUT
        echo "$modules_changed" >> $GITHUB_OUTPUT
        echo "EOF" >> $GITHUB_OUTPUT
